@{
    ViewData["Title"] = "Product";
}
@model SalesApp.DTOs.UpdateProductDTO
<div class="hero_area">
    <div class="bg-box">
        <img src="~/images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" asp-controller="Home"
                       asp-action="Index">
                    <span>
                        AuraTech
                    </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mx-auto ">
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Home"
                                   asp-action="Index">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Category"
                                   asp-action="Index"
                                   class="nav-link">
                                Quản lý Category
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Order" asp-action="Index" class="nav-link">
                                Quản lý đơn hàng
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Customer"
                                   asp-action="Index"
                                   class="nav-link">
                                Quản lý khách hàng
                            </a>
                        </li>
                    </ul>
                    
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
</div>

<!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box" >
                    <img src="@Model.ImageUrl"
                         alt="Ảnh sản phẩm"
                         style="width:100%; max-width:400px;border-radius:20px; border:10px solid" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Sửa sản phẩm
                        </h2>
                    </div>
                    <form asp-action="Index" method="post">

                        <input type="hidden" asp-for="ProductId" />

                        <div class="mb-3">
                            <label>Tên sản phẩm</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label>Giá</label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label>Số lượng</label>
                            <input asp-for="Stock" class="form-control" />
                            <span asp-validation-for="Stock" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label>Mô tả</label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label>Link ảnh</label>
                            <input asp-for="ImageUrl" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label>Loại sản phẩm</label>

                            <select asp-for="CategoryId"
                                    asp-items="ViewBag.Categories"
                                    class="form-select">

                                <option value="">-- Chọn loại sản phẩm --</option>

                            </select>

                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">
                            Cập nhật sản phẩm
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
<!-- footer section -->
<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Contact Us
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Location
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Call +01 1234567890
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                demo@gmail.com
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                        AuraTech
                    </a>
                    <p>
                        Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
                    </p>
                    <div class="footer_social">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    Opening Hours
                </h4>
                <p>
                    Everyday
                </p>
                <p>
                    10.00 Am -10.00 Pm
                </p>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a><br><br>
                &copy; <span id="displayYear"></span> Distributed By
                <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
            </p>
        </div>
    </div>
</footer>